<ion-card>
  <ion-card-header >
    <ion-card-subtitle>Fun Galaxy Facilities  </ion-card-subtitle>
    <ion-card-title>PLAYCENTER</ion-card-title>
    <ion-button  color="tertiary" fill="clear" size="full" (click)="goToParties()"> click For Further Details</ion-button>
  </ion-card-header>
</ion-card>

<ion-card>
  <ion-card-header>
    <ion-card-subtitle>Fun Galaxy Facilities </ion-card-subtitle>
    <ion-card-title>CAFE</ion-card-title>
    <ion-button color="tertiary" fill="clear" size="full" (click)="goToParties()"> click For Further Details</ion-button>
  </ion-card-header>
</ion-card>

<ion-card>
  <ion-card-header>
    <ion-card-subtitle>Fun Galaxy Facilities </ion-card-subtitle>
    <ion-card-title>CHILDCARE </ion-card-title>
    <ion-button color="tertiary" fill="clear" size="full" (click)="goToParties()"> click For Further Details</ion-button>
  </ion-card-header>
</ion-card>

<ion-card>
  <ion-card-header>
    <ion-card-subtitle>Fun Galaxy Facilities </ion-card-subtitle>
    <ion-card-title>PARTIES </ion-card-title>
    <ion-button color="tertiary" fill="clear" size="full" (click)="goToParties()"> click For Further Details</ion-button>
  </ion-card-header>
</ion-card>

