<ion-header>
  <ion-toolbar color="tertiary">
      <img alt="logo" height="45" src="./assets/images/FGHLogo.png">
      <ion-buttons slot="start">
        <ion-back-button text=""></ion-back-button>
          <ion-menu-button></ion-menu-button>
      </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content color="#5a39ea">
  <ion-card>
      <ion-card-header>
        <ion-card-subtitle>Fun Galaxy Parties </ion-card-subtitle>
        <ion-card-title>STANDARD Party</ion-card-title>
      </ion-card-header>
      <ion-card-content>
        2 Hours in duration <br>
        1.5 Hours on Play Structure<br>
        30 Minutes in Party room with Party host<br>
        Hot food choice - pizza, sausages, chicken and chips - capri Sun<br>
        Fruit Platter while playing<br>
        We cater for all allergens<br>
        Birthyday child gets a Foil Balloon and gift when leaving<br>
        All guest get a Fun Galaxy Balloon and gift<br><br>
        <h2>PRICE: <span class="money">From €190.00 (11 children)</span></h2><br>
        Additional children €19.00 per child<br>
        For further details please call 01 8401002
      </ion-card-content>
    </ion-card>
    <ion-card>
      <ion-card-header>
        <ion-card-subtitle>Fun Galaxy Parties </ion-card-subtitle>
        <ion-card-title>WALK-IN Party</ion-card-title>
      </ion-card-header>
      <ion-card-content>
        2 Hours in duration <br>
        1.5 Hours on Play Structure<br>
        30 Minutes in playcenter at a designated table for your guest<br>
        Hot food choice - pizza, sausages, chicken and chips - capri Sun<br>
        We cater for all allergens<br>
        Birthday child gets a Foil Balloon and gift when leaving<br><br><br>
        <h2>PRICE: <span class="money">From €150.00 (11 children)</span></h2><br>
        Additional children €15.00 per child
      </ion-card-content>
    </ion-card>
</ion-content>

